.social-network {


    position: absolute;
    right: 30rem;
    bottom: 0;
    width: 20%;
    top: 40rem;


.content {

    display: flex;
    justify-content: space-around;
    list-style: none;
    list-style: none;
    font-size: 3rem;

    
.hover {

    width: 100px;
    height: 100px;
    color: #ff4800;
    background: #111;
    border-radius: 50%;
    text-align: center;
    line-height: 112px;
  
}
   
}







}