.social-network {


    position: absolute;
    left: 2rem;
    width: 11%;
    bottom: 2rem;

    &:hover {

        color: white;
    }

.content {

    display: flex;
    justify-content: space-around;
    list-style: none;
    list-style: none;
    font-size: 2rem;

    
.hover {

    width: 60px;
    height: 60px;
    color: $orange;
    // background: #111;
    border-radius: 50%;
    text-align: center;
    line-height: 67px;
    border: 2px solid white;
  
}
   
}







}