.bg-1 {
    background-image: linear-gradient(to bottom,
    rgba(12, 12, 12, 0.65),
    rgba(10, 10, 10, 0.15)), url('/assets/images/accueil-portrait.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.bg-2 {
    // background-image: linear-gradient(45deg,
    // rgba(12, 12, 12, 0.65),
    // rgba(10, 10, 10, 0.15)), url('/assets/background-about.jpg');
    background-image:  url('/assets/images/background-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}