.bg-1 {
    background-image: linear-gradient(to bottom,
    rgba(12, 12, 12, 0.65),
    rgba(10, 10, 10, 0.15)), url('/assets/images/accueil-portrait.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

//************* MIXINS **************
    .nav-menu-item {
        @include nav-menu;
      }
  
      .toggle-button {
        @include button-nav;
      }

    }
      

.bg-2 {
 
    background-image:  linear-gradient( 360deg,
    rgba(231, 231, 231, 1),
    rgba(231, 231,231, 0.1)), url('/assets/images/background-about.jpg');
 

    //************* extention du selecteur bg-1 ************

    @extend .bg-1;
    display: flex;
    align-items: center;
    
.nav-menu-item {
    @include nav-menu;
  }

  .toggle-button {
    @include button-nav;
  }




}
//********* END **** MIXINS **************
    
   
    
