* {
  
    box-sizing: border-box;
    padding: 0!important;
    margin: 0!important;
  

}

// TYPOGRAPHY

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@700&display=swap");

// VARIABLES COLOR

$white: #fff;
$black:#000;
$orange:#ff4800;
$icons: #111;

