.name {
  width: 15%;
  text-align: center;
  height: 40px;
  position: absolute;
  top: 2rem;
  color: white;
  left: 3rem;
  font-size: 1.31em;
  letter-spacing: .1em;
  text-transform: lowercase;
  font-family: $sansSerif;

  

.name-home {

  width: 71%;
  display: inline-block;
}
  

  .firstName-home {
    color: $orange;
  }

   

}
