 .scroll-down {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 11%;
        height: 36px;
        position: absolute;
        right: 0px;
        bottom: 20px;
    
        .scroll-explore {
    
            color: $white;
            text-align: center;
            font-size: 1em;

            .scroll-arrow {
                display: inline;
                vertical-align: middle;
            }
            
    
        }
    }


