.title-home {
  position: absolute;
  top: 21%;;
  left: 40%;
  width: 48%;

  .tiltle-dev {
    color: var(--color-white);
    font-family: $serif;
    font-size: 9em;
    line-height: 1.16em;
    text-transform: uppercase;
  }

  .welcome-portfolio {
    text-align: end;

    .span-dev-title {
      color: var(--color-orange);
      font-size: 1.31em;
      font-family: $sansSerif;
      text-transform: uppercase;
      letter-spacing: 0.2em;

      .span-subTitle-toMyPortfolio {
        color: var(--color-orange);
        font-size: 1.31em;
        font-family: $sansSerif;
        text-transform: lowercase;
        font-style: italic;
      }
    }
  }
}
