.scroll-down {
  position: absolute;
  right: 46px;
  bottom: 43px;
  transform: rotate(-90deg);

  .scroll-explore {
    color: var(--color-white);
    text-align: center;
    font-size: 1rem;

    .scroll-arrow {
      display: inline;
      vertical-align: middle;
    }
  }
}
