.title-home {
  // position: absolute;
  // top: 21%;;
  // left: 40%;
  // width: 48%;
  // position: absolute;
  // top: 20em;
  // left: -7em;
  // width: 100%;
 
  position: absolute;
  top: 20rem;
  right: 19rem;
  width: 46%;
}



  // .tiltle-dev {
  //   color: var(--color-white);
  //   font-family: $serif;
  //   font-size: 7rem;
  //   // line-height: 1.16rem;
  //   text-transform: uppercase;
  // }

  .welcome-portfolio {
    text-align: end;

    .span-dev-title {
      color: var(--color-orange);
      font-size: 1.31rem;
      font-family: $sansSerif;
      text-transform: uppercase;
      letter-spacing: 0.2rem;

      .span-subTitle-toMyPortfolio {
        color: var(--color-orange);
        font-size: 1.31rem;
        font-family: $sansSerif;
        text-transform: lowercase;
        font-style: italic;
      }
    }
  }

